@model IEnumerable<SeatingChart.Models.EmployeeModels>

@if (User.Identity.IsAuthenticated)
{

}

<div class="userTable">
    <table class="table">
        <tr>
            <th style="border-top: none">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th style="border-top: none">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th style="border-top: none">
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
        </tr>

        @foreach (var item in Model.OrderBy(i => i.LastName))
        {
            if (item.NotActive != true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
    <div class="notauthorized" style="margin-top:1em; padding-left:1em;">
        <a href="../Employee/Create" class="btn btn-secondary">Create New Employee</a>
        <a href="../Home/Admin" class="btn btn-secondary">Back to Seating Chart</a>
    </div>
</div>